<div id="<%= dom_id origin %>">
  <p>
    <strong class="Titre">
        <%= origin.name %>
    </strong>

  </p>
<div class="index_botton">
  <p>

    <%= image_tag origin.image, :size => '440x440' %>
  </p>
<div class="card">
  <p>
    <strong>Description:</strong>
    <%= origin.description %>
  </p>

  <p>
    <strong>Cet Origin est utilisé par : </strong>
    <%= origin.user %>
  </p>
</div>
</div>
<br>


</div>
