<div id="<%= dom_id origin %>">
  <p>
    <strong>Name:</strong>
    <%= origin.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag origin.image, :size => '220x220' %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= origin.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= origin.user_id %>
  </p>


</div>
