<div id="<%= dom_id origin %>">
  <p>
    <strong class="origin_title">
        <%= origin.name %>
    </strong>

  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag origin.image, :size => '220x220' %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= origin.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= origin.user %>
  </p>


</div>
