<div id="<%= dom_id origin %>">
  <p>
    <strong>Name:</strong>
    <%= origin.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= origin.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= origin.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= origin.user_id %>
  </p>

  <p>
    <strong>TEST SCALINGO </strong>
  </p>

</div>
