<p style="color: green"><%= notice %></p>

<body class="body">
<h1 class="Titre">Origins</h1>


<div id="origins" class="flex">
  <% @origins.each do |origin| %>

    <div class="card" style="card">
  <%= image_tag origin.image %>
  <div class="card-body">
    <p class="card-text"><%= origin.name %></p>
        <p>
      <%= link_to "En voir plus", origin %>
    </p>

  </div>
</div>

  <% end %>
</div>

<%= link_to "New origin", new_origin_path %>
<%= link_to "New user", new_user_path %>

</body>
