<p style="color: green"><%= notice %></p>

<body class="body">
<h1 class="Titre">Origins</h1>

<div id="origins">
  <% @origins.each do |origin| %>
  <p class="origin_title">
   <%= origin.name %>
   <br/>
   <%= image_tag origin.image, :size => '220x220' %>

  </p>
    <p>
      <%= link_to "Show this origin", origin %>
    </p>
  <% end %>
</div>

<%= link_to "New origin", new_origin_path %>
</body>
