<p style="color: green"><%= notice %></p>

<body class="body">
<div class="Titre">
<h1>Tutel SMP   </h1> <img src="https://cdn1.wminecraft.net/wp-content/uploads/2021/07/637565667993649530.png" height=50px >
</div>

<div id="origins" class="flex">
  <% @origins.each do |origin| %>

    <div class="card" style="card">
  <%= image_tag origin.image %>
  <div class="card-body">
    <p class="card-text"><%= origin.name %></p>
        <p>
      <%= link_to "En voir plus", origin %>
    </p>

  </div>
</div>

  <% end %>
</div>
<div class="index_botton">
<button type="button" class="btn btn-outline-success"><%= link_to "New origin", new_origin_path %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "New user", new_user_path %></button>
</div>
</body>
