<p style="color: green"><%= notice %></p>

<%= render @origin %>

<div>
  <%= link_to "Edit this origin", edit_origin_path(@origin) %> |
  <%= link_to "Back to origins", origins_path %>

  <%= button_to "Destroy this origin", @origin, method: :delete %>
</div>
